= turbo_frame_tag @tag do
  = form_with model: [:admin, @tag], url: admin_tag_path(@tag) do |f|
    = f.text_field :title, class: 'standart-input', placeholder: t('.title_label')
    = f.submit t('global.button.save'), class: 'main-btn'
