[Unit]
Description=Puma HTTP Server for ruby_coin (production)
After=network.target
Requires=ruby_coin_puma_production.socket

[Service]
Type=simple
User=root
WorkingDirectory=/home/root/apps/ruby_coin/current

# rbenv (замість RVM)
Environment="RBENV_ROOT=/root/.rbenv"
Environment="PATH=/root/.rbenv/shims:/root/.rbenv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"

# запуск Puma через bundle з rbenv-shims
ExecStart=/usr/bin/env bundle exec --keep-file-descriptors puma -C /home/root/apps/ruby_coin/shared/puma.rb
ExecReload=/bin/kill -USR1 $MAINPID

StandardOutput=append:/home/root/apps/ruby_coin/current/log/puma.access.log
StandardError=append:/home/root/apps/ruby_coin/current/log/puma.error.log

Restart=always
RestartSec=1
SyslogIdentifier=puma

[Install]
WantedBy=multi-user.target
