[Unit]
Description=Puma HTTP Server Accept Sockets for ruby_coin (production)

[Socket]
ListenStream=/home/root/apps/ruby_coin/shared/tmp/sockets/ruby_coin-puma.sock

# Don't let systemd accept the request, wait for Puma to do that.
# Systemd will start the puma service upon first request if it wasn't started.
#
# You might also want to set your Nginx upstream to have a fail_timeout large enough to accomodate your app's
# startup time.
Accept=no
NoDelay=true
ReusePort=true
Backlog=1024

SyslogIdentifier=puma_socket

[Install]
WantedBy=sockets.target
