// Sass variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

.status_tag.yes { 
  background: #E91E63 !important; 
}

.rounded-4 img {
  border-radius: .5rem;
}

.text-center {
  text-align: center;
}

.default-avatar {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  background-color: #ccc;
  border-radius: .5rem;
  object-fit: cover;
}
