.admin__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: 0.04em;
  color: #000000;
  margin: 0;
}

@mixin fz-14-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}

.admin-panel {
  width: 100%;
  max-width: 1250px;
  padding: 0 30px;
  margin: 65px auto 200px;
  @media (max-width: 500px) {
    padding: 0;
  }
  .pagination__inner {
    margin: 0;
    .page-item.next {
      @media (max-width: 1200px) {
        margin-left: 25px;
      }
    }
    .page-item.prev {
      @media (max-width: 1200px) {
        margin-right: 25px;
      }
    }
  }
  &__content {
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  &__inner {
    display: flex;
    align-items: stretch;
  }
  &__left {
    padding: 40px 36px 60px;
    width: 26%;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    @media (max-width: 900px) {
      width: 30%;
    }
    @media (max-width: 700px) {
       width: 20%;
       padding: 40px 20px;   
    }
    .admin-badge {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-bottom: 80px;
      img {
        width: 100px;
        height: 100px;
        @media (max-width: 650px) {
          width: 48px;
          height: 48px;
        }
      }
      .title {
        margin-top: 20px;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.04em;
        text-transform: capitalize;
        color: #000000;
        @media (max-width: 500px) {
          display: none;
        }
      }
    }
    .navigation {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: revert;
      margin-bottom: 50px;
      @media (max-width: 700px) {
        align-items: center;
      }
    }
    .nav-link {
      display: flex;
      align-items: center;
      &:not(:last-child) {
        margin-bottom: 33px;
      }
    }
    .exit-admin {
      margin-top: auto;
      .inner {
        display: flex;
        align-items: center;
      }
    }
    .nav-link, .exit-admin {
      img {
        margin-right: 22px;
        @media (max-width: 700px) {
          margin: 0;
        }
      }
      .title {
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.04em;
        color: #000000;
        margin: 0;
        @media (max-width: 700px) {
          display: none;
        }
      }
    }
  }
  &__right {
    padding: 40px 50px 50px;
    width: 74%;
    background: #f6f6f6;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    @media (min-width: 1024px) and (max-width: 1200px) {
      padding: 20px 30px;
    }
    @media (max-width: 700px) {
      padding: 30px 20px 50px;
      width: 80% !important;
    }
    @media (max-width: 900px) {
      width: 70%;
    }
    .inner-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 30px;
    }
    .dropdown {
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.025em;
      color: #000000;
    }
    .posts-admin {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .post {
        display: flex;
        width: 48%;
        background: #FFFEFE;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        height: 100%;
        margin-bottom: 20px;
        @media (max-width: 1100px) {
          width: 100%;
        }
        &-img {
          width: 102px;
          height: 120px;
          object-fit: cover;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
          @media (max-width: 600px) {
            height: 91px;
            width: 67px;
          }
        }
        &__text {
          padding-right: 10px;
        }
        &__content {
          display: flex;
          justify-content: space-between;
          width: 100%;
          padding: 11px 12px 10px 15px;
        }
        &__title {
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
          color: #000000;
          margin-bottom: 10px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          @media (max-width: 600px) {
            font-size: 14px;
          }
        }
        &__description {
          @include fz-14-text();
          margin: 0;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          @media (max-width: 600px) {
            font-size: 12px;
            -webkit-line-clamp: 2;
          }
        }
        &__actions {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          .delete, .edit {
            cursor: pointer;
          }
        }
      }
    }
  }
  .footer-panel {
    margin-top: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 600px) {
      flex-direction: column;
      margin-top: 30px;
      align-items: start;
    }
    .pagination {
      margin: 0;
      @media (max-width: 600px) {
        order: 1;
      }
    }
  }
  .main-btn {
    padding: 16px 47px;
    @media (max-width: 600px) {
      order: 0;
      margin-bottom: 30px;
    }
    @media (max-width: 500px) {
      width: 100%;
      text-align: center;
      padding: 12px 40px;
    }
  }
}

.admin-form {
  width: 100%;
  max-width: 1230px;
  margin: 60px auto 90px;
  @media (max-width: 500px) {
    margin: 45px auto 100px;
  }
  .main-btn {
    padding: 16px 47px;
    font-weight: 600;
    line-height: 1.15;
  }
  .new_post {
    font-size: 28px;
    line-height: 1.3;
    letter-spacing: 0.25px;
    font-weight: 800;
    margin-bottom: 25px;
    color: #464646;
  }
  &__content {
    padding: 30px 30px 50px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.07);
    border-radius: 8px;
  }
  .image__content {
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 25px;
    .image__dragging {
      position: relative;
      height: 473px;
      border-radius: 20px;
      border: 2px dashed rgba(81, 116, 255, 1);
      margin-bottom: 27px;
      @media (max-width: 900px) {
        height: 350px;
      }
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        transform: translate(-50%, -50%);
      }
    }
    .main-btn {
      padding: 17px 37px;
    }
  }
  .standart-label {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 12px;
  }
  .group {
    margin-bottom: 40px;
    flex-direction: column;
    &.column {
      display: flex;
      flex-direction: column;
    }
  }
  .flex-inner {
    margin-bottom: 40px;
    label {
      margin-right: 10px;
    }
  }
  .descr {
    height: 600px;
  }
  .tags {
    height: 200px;
  }
  .actions {
    display: flex;
    align-items: center;
    @media (max-width: 450px) {
      flex-direction: column;
    }
    .main-btn.filled {
      margin-left: 40px;
      @media (max-width: 450px) {
        margin-left: 0;
        margin-top: 20px;
      }
    }
    .main-btn {
      @media (max-width: 450px) {
        width: 100%;
        text-align: center;
      }
    }
  }
  .form-inner {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    @media (max-width: 550px) {
      flex-direction: column;
      align-items: start;
    }
    .checkboxes {
      width: 33%;
      @media (max-width: 550px) {
        width: 100%;
        display: flex;
        margin-bottom: 30px;
      }
      .flex-inner {
        display: flex;
        flex-direction: column;
        &:first-child {
          @media (max-width: 550px) {
            margin-right: 30px;
          }
        }
        .toggle {
          width: 60px;
        }
        label {
          font-weight: 700;
          font-size: 20px;
          line-height: 24px;
          color: #000000;
          @media (max-width: 650px) {
            font-size: 16px;
          }
        }
      }
    }
    .group {
      width: 64%;
      @media (max-width: 550px) {
        width: 100%;
      }
    }
    .flex-inner {
      margin-bottom: 20px;
      label {
        font-size: 20px;
      }
    }
  }
}

.pagination__inner.tags {
  margin-top: 10px;
  @media (max-width: 1024px) {
    width: 100%;
    order: 1;
  }
}

.tags__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100%;
  @media (max-width: 1024px) {
    flex-direction: column;
  }
  .inner-title {
    .admin__title {
      margin-right: 25px;
    }
  }
  .tags__right {
    width: 54%;
    @media (max-width: 1024px) {
      width: 100%;
      order: 0;
    }
    .admin__title {
      margin-bottom: 0;
    }
  }
  .tags__left {
    width: 42%;
    display: flex;
    flex-direction: column;
    @media (max-width: 1024px) {
      width: 100%;
      order: 2;
      margin-top: 50px;
    }
    .standart-input {
      margin-bottom: 50px;
    }
    .admin__title {
      margin-bottom: 30px;
    }
  }
  .main-btn {
    font-weight: 600;
    @media (max-width: 500px) {
      width: 100%;
      text-align: center;
    }
  }
  .search-input {
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 0;
    padding: 9px 15px 9px 38px;
    height: 38px;
    width: 180px;
  }
  .search-form {
    margin-top: 50px;
    position: relative;
    &::before {
      content: "";
      display: inline-block;
      background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.7 13.75L7.975 9.025C7.6 9.325 7.16875 9.5625 6.68125 9.7375C6.19375 9.9125 5.675 10 5.125 10C3.7625 10 2.6095 9.52825 1.666 8.58475C0.722 7.64075 0.25 6.4875 0.25 5.125C0.25 3.7625 0.722 2.60925 1.666 1.66525C2.6095 0.72175 3.7625 0.25 5.125 0.25C6.4875 0.25 7.64075 0.72175 8.58475 1.66525C9.52825 2.60925 10 3.7625 10 5.125C10 5.675 9.9125 6.19375 9.7375 6.68125C9.5625 7.16875 9.325 7.6 9.025 7.975L13.75 12.7L12.7 13.75ZM5.125 8.5C6.0625 8.5 6.8595 8.172 7.516 7.516C8.172 6.8595 8.5 6.0625 8.5 5.125C8.5 4.1875 8.172 3.3905 7.516 2.734C6.8595 2.078 6.0625 1.75 5.125 1.75C4.1875 1.75 3.3905 2.078 2.734 2.734C2.078 3.3905 1.75 4.1875 1.75 5.125C1.75 6.0625 2.078 6.8595 2.734 7.516C3.3905 8.172 4.1875 8.5 5.125 8.5Z' fill='%231C1B1F'/%3E%3C/svg%3E%0A");
      width: 14px;
      height: 14px;
      position: absolute;
      top: 50%;
      left: 16px;
      transform: translateY(-50%);
      z-index: 9;
    }
    input {
      height: 50px;
      width: 100%;
      border: 1px solid #DC143C;
    }
  }
  .tags {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    .tag {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #FFFEFE;
      box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      width: 100%;
      padding: 11px 12px 11px 15px;
      margin-bottom: 25px;
      &__title {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
        margin-bottom: 0;
      }
      &__actions {
        display: flex;
        align-items: center;
        .edit {
          margin-right: 21px;
        }
        .edit, .delete {
          cursor: pointer;
        }
      }
    }
  }
  .pagination {
    position: relative;
    margin-top: auto;
    max-width: initial;
    margin: 0 auto;
    &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }
  .pagy-bootstrap-nav {
    .pagination {
      margin: 0;
    }
  }
}
.tags__right {
  display: flex;
  flex-direction: column;
  .admin__title {
    margin-bottom: 30px;
    font-size: 30px;
  }
  .standart-input {
    margin-bottom: 20px;
  }
}

.image-content {
  position: relative;
  background: #FFFFFF;
  border: 1px solid #DC143C;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 25px;
  label {
    margin-top: 27px;
  }
  .label-img {
    @media (max-width: 400px) {
      display: none;
    }
  }
}

.preview-img-box-edit {
  height: 473px;
  background-image: url(add-img-dec.svg);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 20px;

  @media (max-width: 900px) {
    height: 350px;
  }
  @media (max-width: 600px) {
    height: 218px;
  }
  @media (max-width: 500px) {
    height: 200px;
  }
  @media (max-width: 450px) {
    height: 180px;
  }
  
}

#add-img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  opacity: 0;
}

.admin-preview-img {
  object-fit: cover;
  border-radius: 20px;
  max-width: 100%;
  height: inherit;
}

.preview-img-box-edit {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tag-editor {
  position: relative;
  .save-tag {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='15' viewBox='0 0 20 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.14121 15L0.491211 8.34999L2.15371 6.68749L7.14121 11.675L17.8454 0.970825L19.5079 2.63333L7.14121 15Z' fill='%232CA800'/%3E%3C/svg%3E%0A");
    width: 20px;
    height: 15px;
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
    z-index: 10;
    border: 0;
    background-color: transparent;
  }
  .cancel-tag-icon {
    position: relative;
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.46634 17.1668L0.833008 15.5335L7.36634 9.00016L0.833008 2.46683L2.46634 0.833496L8.99967 7.36683L15.533 0.833496L17.1663 2.46683L10.633 9.00016L17.1663 15.5335L15.533 17.1668L8.99967 10.6335L2.46634 17.1668Z' fill='%23DC143C'/%3E%3C/svg%3E%0A");
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    z-index: 10;
    border: 0;
    background-color: transparent;
  }
  .standart-input {
    margin-bottom: 0;
  }
}

.form-editor-tag {
  width: 100%;
}

.modal {
  .modal-dialog.tags {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    overflow: hidden;
    .modal-content {
      .modal-header {
        border-bottom: 0;
        margin-bottom: 5px;
        padding: 15px;
        h1 {
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
          color: #000000;
        }
      }
      .modal-body {
        padding: 0 15px 20px;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
      }
      .modal-footer {
        padding: 11px 15px;
      }
    }
    .main-btn {
      padding: 9px 23px;
      margin-bottom: 0;
      @media (max-width: 500px) {
        margin-bottom: 15px;
      }
      a {
        color: #fff;
      }
    }
    .btn-close {
      font-size: 20px;
      font-weight: 100;
      opacity: 1;
      filter: invert(14%) sepia(99%) saturate(5484%) hue-rotate(343deg) brightness(90%) contrast(91%);
    }
  }
}

.ts-wrapper.standart-input {
  border: 1px solid #DC143C !important;
  &:focus {
    box-shadow: none !important;
  }
  .ts-control {
    border: none;
    box-shadow: none !important;
  }
  .item {
    border: 1px solid #000000 !important;
    border-radius: 3px !important;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    color: #000000 !important;
    background: transparent !important;
    padding: 5.5px 10px !important;
    .remove {
      border-left: none !important;
      margin-left: 10px !important;
      padding: 0 !important;
      font-size: 17px;
    }
  }
}

.ts-dropdown.multi {
  border: 1px solid #DC143C;
  .ts-dropdown-content {
    max-height: 75px;
    .option.active {
      background: #F4F4F4;
    }
    .option {
      font-weight: 500;
      font-size: 13px;
      line-height: 15px;
      color: #000000;
      padding: 9px 15px;
    }
  }
}