.faq__inner {
  width: 100%;
  max-width: 770px;
  padding: 0 20px;
  margin: 100px auto 200px;
  display: flex;
  flex-direction: column;
  .faq__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.5;
    color: #000000;
    margin-bottom: 30px;
  }
  .faq__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 140.7%;
    letter-spacing: 0.025em;
    color: #000000;
    margin-bottom: 20px;
    &.last {
      margin-bottom: 0;
    }
  }
  .accordion-item {
    margin-bottom: 25px;
    .accordion-header {
      padding: 18.5px;
      background: #F8F8F8;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 5px 5px 0px 0px;
    }
    .accordion-button {
      font-weight: 500;
      font-size: 16px;
      line-height: 140.7%;
      letter-spacing: 0.025em;
      color: #313131;
      &::after {
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 1.5L6 6.5L1 1.5' stroke='%23DC143C' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        width: 12px;
        height: 8px;
        position: absolute;
        top: 50%;
        right: 25px;
        transform: translateY(-50%);
      }
    }
    .accordion-body {
      background: #FAFAFA;
      padding: 20px;
      border: none;
    }
  }
}