.home__container {
  width: 100%;
  max-width: 1340px;
  padding: 0 30px;
  margin: 30px auto;
  @media (max-width: 500px) {
    padding: 0 20px;
  }
}

.flex-admin {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  .admin, .intro-block__date {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    @media (max-width: 440px) {
      font-size: 12px;
    }
  }
  .admin {
    display: flex;
    align-items: center;
    &::after {
      content: '';
      display: inline-block;
      min-width: 8px;
      min-height: 8px;
      border-radius: 50%;
      background: #DC143C;
      margin: 0 10px;
    }
  }
}

.intro-block {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  margin-bottom: 40px;
  @media (max-width: 500px) {
    margin-bottom: 20px;
  }
  @media (min-width: 1400px) {
    height: calc(100vh - 150px);
  }
  &__img {
    position: relative;
    width: 100%;
    height: 100%;
    @media (max-width: 500px) {
      height: 500px;
    }
    img {
      max-width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 5px;
      @media (max-width: 500px) {
        height: 100%;
      }
    }
  }
  &__img::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, transparent 0 70%, black 90%);
  }
  &__main_img {
    width: 50vw!important;
    height: 30vw!important;
  }
  &__content {
    position: absolute;
    bottom: 36px;
    left: 36px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    @media (max-width: 500px) {
      bottom: 20px;
      left: 20px;
    }
    & > * {
      color: #fff;
    }
  }
  &__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 1.5;
    margin-bottom: 5px;
    @media (max-width: 440px) {
      font-size: 24px;
    }
  }
  &__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
    @media (max-width: 440px) {
      font-size: 14px;
    }
  }
  &__tag {
    @media (max-width: 440px) {
      font-size: 12px !important;
      padding: 3px 10px !important;
    }
  }
}

.tags-inner {
  display: flex;
  align-items: center;
}

.intro-block__tag {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
}

.intro-block__tag {
  padding: 3px 15px;
  border: 1px solid #FFFFFF;
  border-radius: 3px;
  &:not(:last-child) {
    margin-right: 15px;
    @media (max-width: 440px) {
      margin-right: 5px;
    }
  }
}

.accordion-category {
  .accordion-item {
    border: 2px solid #DC143C;
    border-radius: 5px;
  }
  .accordion-button {
    padding: 18px;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #DC143C;
    background: #FFFBFB;
    &.collapsed {
      background: #fff;
    }
    &:after {
      content: '';
      display: inline-block;
      background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 1.5L6 6.5L1 1.5' stroke='%23DC143C' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      width: 12px;
      height: 8px;
      margin-left: 17px;
      @media (max-width: 500px) {
        margin-left: auto;
        margin-right: 10px;
      }
    }
  }
  .accordion-body {
    background: #FFFBFB;
    padding: 7px 20px 35px;
    .filter-block {
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 40px;
      }
      .heading-filter {
        font-weight: 600;
        font-size: 20px;
        line-height: 1.5;
        color: #000000;
        margin-bottom: 10px;
      }
      .filter-inner {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .filter-item {
          cursor: pointer;
          font-weight: 500;
          font-size: 16px;
          line-height: 1.5;
          color: #000000;
          padding: 10px 29px;
          background: #FFFFFF;
          border: 1px solid #000000;
          border-radius: 5px;
          transition: 0.5s;
          margin-right: 10px;
          margin-bottom: 10px;
          &.active {
            color: #fff;
            background: #DC143C;
            border: 1px solid #DC143C;
          }
          &:hover {
            color: #fff;
            background: #DC143C;
            border: 1px solid #DC143C;
          }
          @media (max-width: 440px) {
            padding: 5px 20px;
            font-size: 14px;
          }
        }
        [type="checkbox"]{
          display: none;
        }
      }
      .filter-search {
        width: 100%;
        padding: 10px 20px;
        background: #FFFFFF;
        border: 1px solid #000000;
        border-radius: 5px;
        &::placeholder {
          font-weight: 500;
          font-size: 16px;
          line-height: 1.5;
          color: #7A7A7A;
        }
      }
      .search-form {
        margin-top: 15px;
        width: 429px;
        position: relative;
        @media (max-width: 550px) {
          width: 100%;
        }
      }
      .search-button {
        background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21 21L16.1667 16.1667M9.88889 4.33333C12.9571 4.33333 15.4444 6.82064 15.4444 9.88889M18.7778 9.88889C18.7778 14.7981 14.7981 18.7778 9.88889 18.7778C4.97969 18.7778 1 14.7981 1 9.88889C1 4.97969 4.97969 1 9.88889 1C14.7981 1 18.7778 4.97969 18.7778 9.88889Z' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        width: 22px;
        height: 22px;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        z-index: 9;
      }
    }
    .main-btn {
      box-shadow: 0px 0px 20px rgba(220, 20, 60, 0.25);
      @media (max-width: 500px) {
        width: 100%;
        text-align: center;
        font-weight: 600;
      }
    }
  }
}

.posts {
  margin: 40px -20px;
  @media (max-width: 1024px) {
    margin: 40px 0;
  }
  &__inner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @media (max-width: 1024px) {
      justify-content: space-between;
    }
    .post-column {
      width: 33%;
      padding: 0 20px;
      @media (max-width: 1024px) {
        width: 48%;
        padding: 0;
      }
      @media (max-width: 500px) {
        width: 100%;
      }
    }
    .post {
      width: 100%;
      margin-bottom: 50px;
      &-img {
        img {
          border-radius: 8px;
          width: 400px;
          height: 350px;
          max-width: 100%;
          object-fit: cover;
          margin-bottom: 20px;
        }
      }
      &__title {
        font-weight: 600;
        font-size: 24px;
        line-height: 1.5;
        color: #1C1B1F;
        margin-bottom: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        @media (max-width: 440px) {
          font-size: 20px;
        }
      }
      &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        color: #3C3A41;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        margin-bottom: 0;
        @media (max-width: 440px) {
          font-size: 14px;
        }
      }
      .post-tags {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .post-tag {
          margin-top: 15px;
          padding: 3px 15px;
          border: 1px solid #000000;
          border-radius: 3px;
          font-weight: 400;
          font-size: 13px;
          line-height: 1.45;
          color: #000000;
          @media (max-width: 440px) {
            font-size: 11px;
          }
          &:not(:last-child) {
            margin-right: 15px;
            @media (max-width: 440px) {
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
}

.pagination__inner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 200px;
  .page-item {
    width: 40px;
    height: 30px;
    border: 1px solid #DC143C;
    border-radius: 3px;
    margin: 0 7.5px;
    .page-link {
      font-weight: 400;
      font-size: 13px;
      line-height: 20px;
      color: #DC143C;
      border: none;
      background: none;
      padding: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &.active {
      background: #DC143C;
      .page-link {
        color: #fff;
      }
    }
  }
  .page-item.prev, .page-item.next {
    border: 0;
    background: none;
    width: initial;
    height: initial;
  }
  .page-item.next {
    margin-left: 50px;
  }
  .page-item.prev {
    margin-right: 50px;
  }
}
.absolute-centered {
  position: absolute;
  left: 35%;
  right: 35%;
  margin: 0 auto;
  z-index: 99;
}
