.post-show {
  margin: 34px auto 100px;
  width: 100%;
  max-width: 1320px;
  padding: 0 20px;
  .post-main-img {
    margin-bottom: 23px;
    img {
      max-width: 100%;
      height: 73vh;
      width: 100%;
      object-fit: cover;
      border-radius: 5px;
    }
  }
  .post-title {
    font-weight: 600;
    font-size: 40px;
    line-height: 1.5;
    color: #000000;
    margin-bottom: 40px;
    &.second {
      margin-bottom: 50px;
    }
  }
  .intro-block__tag {
    border: 1px solid #000000;
  }
  .post-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 140.7%;
    letter-spacing: 0.025em;
    color: #313131;
  }
  .posts {
    .post {
      margin-bottom: 0;
    }
  }
  .details-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .post-show__content {
    max-width: 700px;
    margin: 50px auto 100px;
  }
}

.navigation {
  display: flex;
  align-items: center;
  margin-bottom: 27px;
  .slash {
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.9 12L0.5 10.6L5.1 6L0.5 1.4L1.9 0L7.9 6L1.9 12Z' fill='%231C1B1F'/%3E%3C/svg%3E%0A");
    width: 8px;
    height: 12px;
    margin: 0 15px;
  }
  .prev-page, .next-page {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
  }
  .prev-page {
    color: #000000;
  }
  .next-page {
    color: #727272;
  }
}