.search-page {
  width: 100%;
  max-width: 1340px;
  padding: 0 30px;
  margin: 50px auto 200px;
  @media (max-width: 500px) {
    margin: 30px auto 200px;
  }
  @media (max-width: 400px) {
    padding: 0 20px;
  }
  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.5;
    color: #000000;
    margin-bottom: 30px;
    @media (max-width: 500px) {
      margin-bottom: 20px;
    }
  }
  &__icon {
    right: 2%;
    top: 30%;
    background-color: transparent;
  }
  &__input {
    padding: 21px;
    background: #F8F8F8;
    height: 60px;
    border-radius: 5px;
    width: 100%;
    color: #000;
    border: 0;
    box-shadow: none;
    &:focus {
      border: 1px solid #000;
      outline: none !important;
    }
    &::placeholder {
      font-weight: 500;
      font-size: 16px;
      line-height: 140.7%;
      color: #878585;
    }
  }
  .recomment__title {
    font-weight: 600;
    font-size: 28px;
    line-height: 1.5;
    color: #000000;
    margin-bottom: 20px;
    @media (max-width: 500px) {
      font-size: 24px;
    }
  }
  .posts {
    margin-top: 0;
  }
}

::-webkit-search-cancel-button {
  display: none;
  opacity: 0;
}
