.container-wrapper {
  display: flex;
  justify-content: space-evenly;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .container_second {
    width: 450px;
  }
  table {
    font-size: 18px;
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
  }
  th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
  }
  h3 {
    margin-top: 20px;
    text-align: center;
  }
}